body {
  font-family: "Times New Roman";
background-color:#A0DAD4;
  background-image: url("http://4.bp.blogspot.com/-CgbbXXygEg0/VTVdTZ9D4hI/AAAAAAAAQVQ/Dyyn_0HU_rg/s1600/San%2BFrancisco%2B(Day).png");
  background-repeat: no-repeat;
  background-size:cover;
  height: 850px;



}

h1 {color:black;
font-size:4em;
text-align: center;
padding-top: 1em;
font-family: 'Ewert', cursive;
text-decoration: none;
}

h2{color:black;
font-size: 1.5em;
text-align: center;}

ul {color: black;
  font-size: 1.5em;
  list-style-type: none;
  margin:0 auto;
  padding: 0;
  width: 200px;
}

li {display: inline;
  color:black;
}
