
body {
font-family: "Times New Roman";
background-color:#A0DAD4;
background-image: url("http://4.bp.blogspot.com/-CgbbXXygEg0/VTVdTZ9D4hI/AAAAAAAAQVQ/Dyyn_0HU_rg/s1600/San%2BFrancisco%2B(Day).png");
background-repeat: no-repeat;
width: 100%;
background-size: 100%
}


h1 {color:black;
font-size:4em;
text-align: center;
padding-top: .3em;
font-family: 'Ewert', serif;
text-decoration: none;
margin-top: 20px
}

p {color:black;
font-size: 1.5em;
text-align: center;
font-family: 'Playfair Display', serif;
margin:0 auto
}

ul {color: black;
  font-size: .8em;
}
li {display: inline-block;
  color:black;
  text-decoration: underline;
  font-size: 1.5em;
  margin-bottom: .5em;

}

 main {
background-color: white ;
 width:75%;
 margin:auto;
border-radius: 25px;

}


  footer {background-color:white;
    text-align:center ;
    width: 100%;
    height: 100%;
    margin: 35% auto 0 auto;
  }
h2{
  margin: auto;
font-family: 'Playfair Display', serif;
font-size: 1.3em;
}
  .codepen {margin-right: 3em}
  .gmail {margin-right: 3em}
