body {
  font-family: "Times New Roman";
background-color:#A0DAD4;
  background-image: url("http://4.bp.blogspot.com/-CgbbXXygEg0/VTVdTZ9D4hI/AAAAAAAAQVQ/Dyyn_0HU_rg/s1600/San%2BFrancisco%2B(Day).png");
  background-repeat: no-repeat;
  background-size:cover;
  height: 850px;


}

h1 {color:black;
font-size:4em;
text-align: center;
padding-top: .3em;
font-family: 'Ewert', cursive;
text-decoration: none;
margin-top: 20px

}

p {color:black;
font-size: 1.5em;
text-align: center;
font-family: 'Playfair Display', serif;
margin-bottom: 0;
margin-top:0
}

ul {color: black;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 500px;
  text-align: center;
  text-decoration: underline;
  font-size: .8em
}

li {display: block;
  color:black;
  text-decoration: none
}

 div {background-color: white;
 width:950px;
 margin-left: auto ;
margin-right: auto;
border-radius: 25px;
}

img {  display: block;
    margin: auto;
    border: dotted black
  }
